/* General Styling */
.vehicle-registration-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .vehicle-registration-form h2 {
    text-align: center;
    color: #333;
  }
  
  .vehicle-registration-form div {
    margin-bottom: 15px;
  }
  
  .vehicle-registration-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .vehicle-registration-form input,
  .vehicle-registration-form select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .vehicle-registration-form input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between; /* You can use space-between or other alignment as needed */
    gap: 10px; /* Adjust the gap between the buttons */
  }
  
   .submit-bnt {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .back-bnt{
    width: 100%;
    padding: 12px;
    background-color: #0736c3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-bnt:hover{
    background-color: #0a1d54;
  }
  .delete-bnt{
    width: 100%;
    padding: 12px;
    background-color: #e62020;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-bnt:hover{
    background-color: #0a1d54;
  }
  .submit-bnt:hover {
    background-color: #45a049;
  }
  
  .vehicle-registration-form select {
    height: 40px;
  }
  
  .vehicle-registration-form input:focus,
  .vehicle-registration-form select:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  .vehicle-registration-form input[type="file"]:focus {
    border-color: #4CAF50;
  }
  
  @media screen and (max-width: 768px) {
    .vehicle-registration-form {
      padding: 15px;
    }
  
    .vehicle-registration-form button {
      font-size: 14px;
    }
  }
  